.fourstar-button {
    text-align: center;
    font-weight: bold;
    background-color: rgb(205, 91, 236);
    color: rgb(37, 0, 82);
    height: 40px;
    width: 100px;
    border-radius: 15px;
    border-style: solid;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 100px;
    transition: background-color 1s;
}
.fourstar-button:hover {
    background-color: rgb(236, 140, 249);
}
.fivestar-button
{
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 197, 7);
    color: rgb(37, 0, 82);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 100px;
    transition: background-color 1s;
}
.fivestar-button:hover {
    background-color: rgb(248, 245, 148);
}

.stat-button {
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
    margin-top: 100px;
    transition: background-color 1s;
}

.stat-button:hover {
    background-color: rgb(255, 120, 120);
}