.character-name {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
}

.titleof-page {
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    color: white;
    margin-left: 10px;
    width: 300px;
    padding-left: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(50, 50, 50);
}

.introduction-text {
    font-family: Arial;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    display: inline-flex;
}



/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid rgb(0, 0, 0);
  background-color: #f1f1f1;
  width: -webkit-fit-content;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  border: 2px solid rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  padding: 15px 15px;
  padding-bottom: 10px;
  transition: 0.3s;
  display: inline-flex;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(47, 47, 47);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(87, 87, 87);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 15px 15px;
  border: 2px solid rgb(255, 255, 255);
  table-layout: auto;
  width: -webkit-fit-content;
}

.PyroName-button {
  text-align: center;
  font-weight: bold;
  background-color: #FF4500;
  color: rgb(0, 0, 0);
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  margin-top: 0;
  transition: background-color 1s;
}
.PyroName-button:hover {
  background-color: rgb(255, 120, 120);
}
.HydroName-button {
  text-align: center;
  font-weight: bold;
  background-color: #00BFFF;
  color: rgb(0, 0, 0);
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  margin-top: 0;
  transition: background-color 1s;
}
.HydroName-button:hover {
  background-color: #6cdaff;
}
.CryoName-button {
  text-align: center;
  font-weight: bold;
  background-color: #b9dff7;
  color: rgb(0, 0, 0);
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  margin-top: 0;
  transition: background-color 1s;
}
.CryoName-button:hover {
  background-color: #e5f4fe;
}
.AnemoName-button {
  text-align: center;
  font-weight: bold;
  background-color: #2ff0ca;
  color: rgb(0, 0, 0);
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  margin-top: 0;
  transition: background-color 1s;
}
.AnemoName-button:hover {
  background-color: #68ffe6;
}
.ElectroName-button {
  text-align: center;
  font-weight: bold;
  background-color: #7B68EE;
  color: rgb(0, 0, 0);
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  margin-top: 0;
  transition: background-color 1s;
}
.ElectroName-button:hover {
  background-color: #9d8fea;
}

.background3 {
  background-color: #f7f1bc;
  background-size: 100% 100%;
  margin-bottom: 5px;
}

.blackback {
  background-color: #000000;
  width: auto;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
.background1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.gamerefinery.com/wp-content/uploads/2020/10/genshin-impact-header.jpg");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
.image {
  right: 100%;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
}
.background2 {
  background: rgb(237, 184, 239);
  width: fit-content;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  margin-bottom: 5px;
}
.backgroundfull {
  background-color: #000000;
  width: 100%;
  height: 100%;
}
.box {
  background-color: #ffffff;
  width: 300px;
  height:  500px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-flex;

}

.div-inline {
  display: inline-block;
}

.margin {
  margin-right: 5px;
}

.shiftup {
  margin-bottom: 30%;
  display: flexbox;
}

.image {
  width: 40%;  
  padding: 10px;
  height: auto;  
  margin-bottom: 10%;
  display: inline-block;
}
